{{#if blogPost}}
  <h1>{{blogPost.blogTitle}}</h1>
  <p>{{blogPost.blogContent}}</p>
{{#if isSignedIn}}
  <div class="buttons">
    <a href="/update-blog-post/{{blogPost.blogId}}" class="btn">update</a>
    <form class="button" action="/delete-blogPost/{{blogPost.blogId}}" method="post">
      <input class="btn btn-primary" type="submit" value="delete" />
    </form>
  </div>
{{/if}}
{{else}}
  <p>blog does not exist.</p>
{{/if}}