{{#if projectPost}}
  <h2>{{projectPost.projectTitle}}</h2>
  <p>{{projectPost.projectContent}}</p>
  <a href="{{projectPost.projectLink}}"><p>{{projectPost.projectLink}}</p></a>
  {{#if isSignedIn}}
  <div class="buttons">
    <a href="/update-project/{{projectPost.projectId}}" class="btn">Update</a>
    <form class="button" action="/delete-projectPost/{{projectPost.projectId}}" method="post">
      <input class="btn btn-primary" type="submit" value="delete" />
    </form>
  </div>
{{/if}}
{{else}}
  <p>project does not exist.</p>
{{/if}}